* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Myriad Pro';
    
}

.container {
    margin: 0 auto;
    max-width: 1543px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}