@font-face {
    font-family: 'Myriad Pro SemiExt';
    src: url('../fonts/MyriadPro-SemiExt.woff2') format('woff2'),
        url('../fonts/MyriadPro-SemiExt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro Light SemiExt';
    src: url('../fonts/MyriadPro-LightSemiExt.woff2') format('woff2'),
        url('../fonts/MyriadPro-LightSemiExt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

